-
	var listItems = 
		[
			'About', 
			'Functionality', 
			'Advantages', 
			'Reviews', 
			'Construction', 
			'Ukr'
		];

-
	var newsList = [
		{
			description: '',
			date: '',
			icon: ''
		}, {
			description: '',
			date: '',
			icon: ''
		}, {
			description: '',
			date: '',
			icon: ''
		}
	]