-
	var languageItem = 
		[
			'Ukr'
		]

-
	var listItems = 
		[
			'About', 
			'Functionality', 
			'Advantages', 
			'Reviews', 
			'Construction'
		];

-
	var newsList = [
		{
			description: '',
			date: '',
			icon: ''
		}, {
			description: '',
			date: '',
			icon: ''
		}, {
			description: '',
			date: '',
			icon: ''
		}
	];
-
	var introData = 
		[
			{
				icon:'i/learning-icon.png',
				area:'Learning',
				description: ["Colsors", " shapes", " letters", " numbers", " basik math"]
			},
			{
				icon:'i/developing-icon.png',
				area:'Improving',
				description: ["Pronunciation", " logic", " thinking", " hand-works"]
			},
			{
				icon:'i/interaction-icon.png',
				area:'Interaction',
				description: [" Software learning", " developing games", " making games"]
			},

		];