-
	var languageItem = 
		[
			'Ukr'
		]

-
	var listItems = 
		[
			'About', 
			'Functionality', 
			'Advantages', 
			'Reviews', 
			'Construction'
		];

-
	var newsList = [
		{
			description: 'Винахідник Костянтин Шишкін був гостем ранку по-київськи і розповів та продемонстрував розвиваючі іграшки для дітей.',
			date: '18 april 2007',
			icon: '/i/news-icon.png'
		}, {
			description: 'Выиграли краш тест Kids Startups: історії та досвід українських компаній.',
			date: '21 august 1789',
			icon: '/i/news-icon.png'
		}, {
			description: 'Рассказываем и показываем кубик с Кирилл Василевский на StartUp краштест проходящем в рамках Kids Startups: історії та досвід українських компаній',
			date: '09 november 2018',
			icon: '/i/news-icon.png'
		}
	];
-
	var introData = 
		[
			{
				icon:'i/learning-icon.png',
				area:'Learning',
				description: ["Colsors", " shapes", " letters", " numbers", " basik math"]
			},
			{
				icon:'i/developing-icon.png',
				area:'Improving',
				description: ["Pronunciation", " logic", " thinking", " hand-works"]
			},
			{
				icon:'i/interaction-icon.png',
				area:'Interaction',
				description: [" Software learning", " developing games", " making games"]
			},

		];