-
	var introData = 
		[
			{
				icon:'i/learning-icon.png',
				area:'Learning',
				description: ["Colors", "shapes", "letters", "numbers", "basik math"]
			},
			{
				icon:'i/developing-icon.png',
				area:'Improving',
				description: ["Pronunciation", "logic", "thinking", "hand-works"]
			},
			{
				icon:'i/interaction-icon.png',
				area:'Interaction',
				description: ["Software learning", "developing games", "making games", "applications"]
			},

		];
mixin makeItem-b(data)
	each item in data
		+e.container__item-b
			+e('img').item-b__icon(src=asset(item.icon) style="height: 100px;")
			+e('h2').item-b__title= item.area
			-var text = item.description
			-var firstLine = text.slice(0,1)
			-var secondLine = text.slice(1,3) 
			-var thirdLine = text.slice(3)
			+e('p').item-b__description 
				|#{firstLine},
				br
				|#{secondLine}
				br
				|#{thirdLine}