mixin b-about(introData)
	+b.about
		+e.main
			+e('h1').title See what I can
		each item in introData
			+e.features
				+e('img').icon(src=asset(item.icon))
				+e('h2').features__title= item.area
				+e('p').description= item.description