-
	var introData = 
		[
			{
				icon:'i/learning-icon.png',
				area:'Learning',
				description:'Colors, shapes, letters, numbers, basik math'
			},
			{
				icon:'i/developing-icon.png',
				area:'Improving',
				description:'Pronunciation, thinking, hand-works'
			},
			{
				icon:'i/interaction-icon.png',
				area:'Interaction',
				description:'Software learning, developing games, making games, applications'
			},

		];

mixin b-about()
	+b.container
		each item in introData
			+e.item
				+e.IMG.icon(src=asset(item.icon) style="height: 100px;")
				h1= item.area
				p= item.description