$mobile-text-size: 30px
=setImg($img)
	.about
		background: url("i/" + $img) no-repeat center center fixed
		background-size: cover
.about
	display: grid
	height: 100vh
	color: #fff
	&__item-b
		text-align: center
		&__title
			padding: 10px
// # Phone
@media only screen and (min-device-width:320px)
	+setImg("block2(mobile).png")

// // # Tablet
@media only screen and (min-device-width:768px)
	+setImg("block2(tablet).png")

// // # Desktop
@media only screen and (min-device-width:992px)
	+setImg("block2.png")

@media screen and (orientation: landscape)
	.about
		grid-template-columns: repeat(3, 1fr)
		grid-template-rows: 3fr 4fr
		grid-template-areas: "content content content"
		align-items: end
		justify-items: center
		&__item-a
			grid-area: content
		&__item-b 
			padding-bottom: 20px
		&__description
			max-width: 135px

@media screen and (orientation: portrait)
	.about
		align-items: center
		justify-items: center
		&__title
			font-size: $mobile-text-size * 3
		&__item-b
			&__title
				font-size: $mobile-text-size * 1.5
		&__icon
			height: 200px
		&__description
			font-size: $mobile-text-size
			max-width: 350px