body
	margin: 0
	padding: 0
	color: white
	font-family: 'Open Sans', sans-serif

.news
	height: 100vh
	background-image: url("../assets/i/block4.png")
	background-repeat: no-repeat
	background-size: cover

.news__title
	width: 100%
	text-align: center

.news__list
	margin-top: 10vh


h1
	font-size: 60px
p
	font-size: 16px

a 
	line-height: 58px
	color: white

.container
	width: 80%
	margin: 0 auto
	padding-top: 25vh

.news__item
	box-sizing: border-box
	width: 33.333333%
	padding-right: 20px
	float: left
	margin-bottom: 60px

.button
	height: 60px
	width: 300px
	border: 2px solid white
	border-radius: 5px
	background-color: transparent
	color: white
	font-size: 20px
	text-transform: uppercase
	margin: 0 auto
	text-align: center
	clear: left

.news__date
	color: #9fa3a7
	font-size: 14px
	margin-top: 10px
	float: left

.news__icon
	margin-left: 30px
	margin-top: 10px
	width: 19px
	height: 16px

@media(max-width: 1024px) 
	.news__item
		float: none
		width: 60%
		margin: 30px auto
