.news
	height: 100vh
	background-image: url("../assets/i/block4.png")
	background-repeat: no-repeat
	background-size: cover

	&__title
		width: 100%
		text-align: center

	&__newsContainer
		max-width: 1200px 
		margin: 0 auto
		padding: 150px 20px 0 20px
		@media #{$phone}
			padding: 0px 20px 0 20px
		@media #{$tablet-port}
			padding: 50px 20px 0 20px
		@media #{$tablet-land}
			padding: 0px 20px 0 20px 

	&__list
		margin-top: 10vh

	&__item
		box-sizing: border-box
		width: 33.333333%
		padding-right: 20px
		float: left
		margin-bottom: 60px
		@media #{$phone}
			float: none
			width: 60%
			margin: 30px auto
		@media #{$tablet-port} 
			float: none
			width: 60%
			margin: 30px auto
		@media #{$tablet-land}
			float: none
			width: 60%
			margin: 30px auto


	&__date
		color: #9fa3a7
		font-size: 14px
		margin-top: 10px
		float: left

	&__icon
		margin-left: 30px
		margin-top: 10px
		width: 19px
		height: 16px	

	&__button
		height: 60px
		width: 300px
		border: 2px solid white
		border-radius: 5px
		background-color: transparent
		color: white
		font-size: 20px
		text-transform: uppercase
		margin: 0 auto
		text-align: center
		clear: left
