
//- {title: '', items: [], button: {url: '', text: ''}}
mixin b-news(data)
    //- +b.news
    //-     .container
    //-         +e('h1').title= data.title
    //-         +e.list
    //-             each item in data.items
    //-                 +e.item
    //-                     +e.description= item.description
    //-                     +e.date= item.date
    //-                     +e('img').icon(src=asset(item.icon))

    //-         +e('a').button(href=data.button.url)= data.button.text


//- +b-news({title: 'Новости', items: newsList, button: {url: '#', text: 'Читать еще'}})