mixin b-news()
    .block1
		.wrapper
			.space
			.title
				h1 Наши новости
				

			.child
				p Винахідник Костянтин Шишкін був гостем ранку по-київськи і розповів та продемонстрував розвиваючі іграшки для дітей.
				span.date 16 октября, 2016
				span.icon
					img(src=asset("i/news-icon.png"))

			.child
				p Выиграли краш тест Kids Startups: історії та досвід українських компаній.
				span.date 27 сентября, 2016
				span.icon
					img(src=asset("i/news-icon.png"))

			.child
				p Рассказываем и показываем кубик с Кирилл Василевский на StartUp краштест проходящем в рамках Kids Startups: історії та досвід українських компаній
				span.date 8 июня, 2016
				span.icon
					img(src=asset("i/news-icon.png"))

			.button
				button
					a Читать еще