* 
    margin: 0;
    padding: 0;


*,
*::before,
*::after 
    box-sizing: inherit;

body 
    width: 100%
    max-width: 1400px
    margin: 0 auto
    color: #fff
    font-family: 'Open Sans', sans-serif
