$phoneWidth: 320px
$tablet-portWidth: 480px
$tablet-landWidth: 768px
$desktopWidth: 1024px

$phone: "only screen and (max-width: " + $phoneWidth + ")"
$tablet-port: "only screen and (min-width: " + ($phoneWidth + 1) + ") and (max-width: " + $tablet-portWidth + ")"
$tablet-land: "only screen and (min-width: " + ($tablet-portWidth + 1) + ") and (max-width: " + $tablet-landWidth + ")"
<<<<<<< HEAD
$desktop: "only screen and (min-width: " + ($tablet-landWidth + 1) + ") and (max-width: " + $deskgittopWidth + ")"
=======
$desktop: "only screen and (min-width: " + ($tablet-landWidth + 1) + ") and (max-width: " + $desktopWidth + ")"
>>>>>>> 93401de730f0b36f06d82df02c9dde0ba8b164e4
