.menu
	&__navbar
		display: grid
		height: 100%
		grid-template-columns: repeat(6, 1fr)
		align-items: center
		justify-items: center
	li
		list-style-type: none
	a
		text-decoration: none
		color: #fff
		padding: 15px
	a:hover
		text-decoration: underline red
				
