mixin b-intro()
	+b.intro
		+e.box-1
			+e('h1').box-1__title InFansCube
			+e('p').box-1__text Интерактивная развивающая игрушка-кубик для детей от 2 до 6 лет, с возможным расширением функционала как для более младшей, так и для более старшей категории детей.
		+e.box-2
			+e('h1').box-2__title Основная цель
			+e('p').box-2__text Помочь родителям и воспитателям пройти тяжелый этап раннего обучения детей базовым знаниям как можно проще, а детям - обучится основам в развлекательной форме.