extends root

block styles
	link(rel="stylesheet" href=asset("styles.css"))
	link(rel="stylesheet" href=asset("teamStyles.css"))


block scripts
	script(src=asset("main.js"))


block main
	block content


	
