extends root

block meta
	meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1")

block stylesFirstPage
	style(type="text/css")= 
		.intro {
			background-image: url("assets/i/block1_xlg.png");
			background-size: cover;
			background-position: center;
			height: 100vh;
		};

		.intro__container {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: end;
			-ms-flex-align: end;
			align-items: flex-end;
			height: 100vh;
		};

		.intro__box {
			color: #fff;
			text-align: center;
			-ms-flex-preferred-size: 50%;
			flex-basis: 50%;
			-ms-flex-item-align: end;
			align-self: flex-end;
			padding: 0 30px 60px 30px;
		};

		.intro__title {
			font-size: 40px;
			line-height: 64px;
		};

		.intro__text {
			font-size: 20px;
			line-height: 32px;
		};

block stylesFirstPage
	link(rel="stylesheet" href=asset("teamStyles.css"))

block scripts
	script(src=asset("main.js"))


block main
	block content