extends root

<<<<<<< HEAD
//- append params
	// - var userAuth = false

=======
>>>>>>> 2cf63437df835fd8c5b0ba0b44bcad2bc73d514f
block styles
	link(rel="stylesheet" href=asset("styles.css"))
	link(rel="stylesheet" href=asset("teamStyles.css"))

block scripts
	script(src=asset("main.js"))

<<<<<<< HEAD
block header
	+b-header('This is header')

block intro
	//- +b-intro()

block about
	h1 See what I can
	+b-about()

block preorder
	//- +b-preorder()

block news
	//- +b-news()

//- +b-footer()

=======
block main
	block content

>>>>>>> 2cf63437df835fd8c5b0ba0b44bcad2bc73d514f


