extends root

//- append params
	// - var userAuth = false

block styles
	//- link(rel="stylesheet" href=asset("styles.css"))
	link(rel="stylesheet" href=asset("teamStyles.css"))

block scripts
	script(src=asset("main.js"))

block header
	+b-header('This is header')

block intro
	//- +b-intro()

block about
	//- h1 See what I can
	+b-about()

block preorder
	//- +b-preorder()

block news
	//- +b-news()

//- +b-footer()

//- block main
	block content



