include ../../node_modules/bemto.pug/bemto
include ../globals/common
include ../globals/data
include ../globals/mixins

include ../blocks/all
   
doctype html
html
	head
		title= FansCube
		block meta
		block styles
	body
		block main
		block scripts