-
	var listItems = 
		[
			'About', 
			'Functionality', 
			'Advantages', 
			'Reviews', 
			'Construction', 
			'Ukr'
		];

mixin b-header(col)
	+b('header').header
		+e('img').logo(src=asset('i/logo-main.png'))
		+e('ul').nav
			each item in col
				+e('li').nav__li(href='#')= item