.header
	background: grey
	display: grid
	grid-template-columns: 1fr 5fr
	grid-template-rows: 50px
	&__logo
		padding: 0px 50px
		width: 200px
	&__nav
		display: grid
		grid-template-columns: repeat(6, 1fr)